body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(to right, #2c3e50, #3498db); /* Fondo azul difuminado */
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  
  nav {
    width: 100%;
    background-color: #3498db;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed; /* Barra de navegación fija */
    top: 0;
    left: 0;
    z-index: 1000; /* Asegura que la barra esté siempre por encima del contenido */
  }
  
  nav h1 {
    color: white;
    margin: 0;
  }
  
  nav button {
    background-color: #e74c3c;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
  }
  
  nav button:hover {
    background-color: #c0392b;
  }
  
  .container {
    width: 80%;
    max-width: 1200px;
    margin: 80px auto 20px; /* Ajusta el margin-top para dejar espacio a la barra de navegación */
    padding: 20px;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  form input[type="text"],
  form input[type="file"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  form button {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 4px;
  }
  
  form button:hover {
    background-color: #2980b9;
  }
  
  .product-section {
    width: 80%;
    max-width: 1200px;
    margin: 20px auto;
  }
  
  .product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .product-card {
    background: #2c3e50;
    color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    flex: 1 1 calc(33.333% - 20px);
    box-sizing: border-box;
  }
  
  .product-image img {
    width: 100%;
    height: auto;
  }
  
  .product-info {
    padding: 15px;
  }
  
  .product-name {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .product-description {
    font-size: 14px;
    margin-bottom: 15px;
  }
  
  .product-actions {
    display: flex;
    justify-content: space-between;
  }
  
  .edit-btn,
  .delete-btn {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .edit-btn:hover {
    background-color: #2980b9;
  }
  
  .delete-btn:hover {
    background-color: #c0392b;
  }
  